BOUNDLESS_TRANSLATOR_PRODUCT_NAME = Boundless Translator
BOUNDLESS_TRANSLATOR_BUNDLE_IDENTIFIER = com.lillard.BoundlessTranslator

BOUNDLESS_TRANSLATOR_PRODUCT_NAME[config=DMGRelease] = Boundless Translator DMG Test
BOUNDLESS_TRANSLATOR_BUNDLE_IDENTIFIER[config=DMGRelease] = com.lillard.BoundlessTranslator.dmgtest

PRODUCT_NAME = $(BOUNDLESS_TRANSLATOR_PRODUCT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(BOUNDLESS_TRANSLATOR_BUNDLE_IDENTIFIER)
