<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>BoundlessTranslatorE2ETestHost</string>
    <key>CFBundleIdentifier</key>
    <string>com.boundless-translator.e2e-test-host</string>
    <key>CFBundleName</key>
    <string>Boundless Translator E2E Fixture</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
